{% extends "layoutBase.html.j2" %}
{% block title %}Create Generic Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Create a Code</h3>
{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.code) }}
    <span id="latestCodeInfoSpan" class="span small"></span>
    <button type="button" class="btn btn-sm btn-link" onclick="onLatestCodeRefreshBtnClick()">
      refresh
    </button>
    {{ render_field(form.codeIssueTime, class="datetimepicker") }}
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
  </dl>
  <p><input type="submit" value="Create Code" class="btn btn-success"/>
</form>

<br/>

<p><a href="{{ url_for('codes.list') }}">< Back to Codes List</a></p>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='datetime_picker/js/bootstrap-datetimepicker.min.js') }}"></script>
  <link href="{{ url_for('static', filename='datetime_picker/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet"/>
  <script type="application/javascript" src="{{ url_for('static', filename='app/setupDatetimepicker.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='app/deriveCodeNumberForAuto.js') }}"></script>
  <script src="{{ url_for('static', filename='app/loadLatestCode.js') }}"></script>
  <script type="application/javascript">
    var latestCodeFetchUrl_g = "{{ url_for('codes.getLatestCode') }}";
    jQuery(document).ready(function($) {
      loadLatestCode(latestCodeFetchUrl_g, onLatestCodeFetch);
      setupDatetimepicker('datetimepicker');
    });
    
    function onLatestCodeRefreshBtnClick() {
      loadLatestCode(latestCodeFetchUrl_g, onLatestCodeFetch)
    }
    
    function onLatestCodeFetch(codeObj) {
        // console.log(codeObj);
        var latestCodeNum = deriveCodeNumberForAuto(codeObj["codeStr"]);
        var message = "";
        if (latestCodeNum === false) {
            message = "Please enter code number manually, since the latest code " + codeObj["codeStr"] + " is not in desired format for auto code generation";
        } else {
            message = "Latest code is " + latestCodeNum;
        }
        document.getElementById("latestCodeInfoSpan").textContent = message;
    }
  </script>
{% endblock %}