{% extends "layoutBase.html.j2" %}
{% block title %}Create Generic Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Create a Code</h3>
{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.code) }}
    <span id="latestCodeInfoSpan" class="span small"></span>
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
  </dl>
  <p><input type="submit" value="Create Code" class="btn btn-sm btn-success"/>
</form>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='app/loadLatestCode.js') }}"></script>
  <script type="text/javascript">
    var latestCodeFetchUrl_g = "{{ url_for('codes.getLatestCode') }}";
    jQuery(document).ready(function($) {
      loadLatestCode(latestCodeFetchUrl_g, onLatestCodeFetch)
    });
    function onLatestCodeFetch(codeObj) {
      // console.log(codeObj);
      document.getElementById("latestCodeInfoSpan").textContent = "Latest code is " + codeObj["codeStr"].split('/').pop();
    }
  </script>
{% endblock %}