{% extends "layoutBase.html.j2" %}
{% block title %}View Codes{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>View Codes</h3>
{% from "_formhelpers.html.j2" import render_field %}
<form method=post>
  <span>{{form.startDate.label}}</span>
  {{form.startDate(type="date")}}

  <span class="ml-3">{{form.endDate.label}}</span>
  {{form.endDate(type="date")}}
  
  <input class="ml-3" type='submit' value='Fetch data'/>
</form>
{% if data and data['codes'] %}
{# <p>{{ data.codes|safe }}</p> #}
<table id="displayTable" class="display table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Code</th>
            <th>Code Type</th>
            <th>Issued Time</th>
            <th>Issued To</th>
            <th>Element Name</th>
            <th>Element Type</th>
            <th>Description</th>
            <th>Issued By</th>
            <th>Execution Time</th>
        </tr>
    </thead>    
    <tbody>
        {% for item in data['codes'] %}
        <tr>
            <td>{{item.codeStr}}</td>
            <td>{{item.codeType}}</td>
            <td>{{item.codeIssueTime}}</td>
            <td>{{item.codeIssuedTo}}</td>
            <td>{{item.pwcElName}}</td>
            <td>{{item.pwcElType}}</td>
            <td>{{item.codeDesc}}</td>
            <td>{{item.codeIssuedBy}}</td>
            <td>{{item.codeExecTime}}</td>
            <td style="max-width:2em;">
                <a href="#">Edit</a>
                <span>|</span>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Code</th>
            <th>Code Type</th>
            <th>Issued Time</th>
            <th>Issued To</th>
            <th>Element Name</th>
            <th>Element Type</th>
            <th>Description</th>
            <th>Issued By</th>
            <th>Execution Time</th>
        </tr>
    </tfoot>
</table>
{% endif %}

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#displayTable tfoot th').each(function () {
            //var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });
        var filesTable = $('#displayTable').DataTable({
            fixedHeader: true,
            "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
            "pageLength": 50,
            dom: 'Bfrtip',
            "scrollX": false,
            "order": [[0, "asc"]],
            buttons: ['pageLength', 'csv', 'excel', 'pdf', 'print']
        });
        var r = $('#displayTable tfoot tr');
        r.find('th').each(function () {
            $(this).css('padding', '3px');
        });
        $('#displayTable thead').append(r);
        // Apply the filter
        // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
        $("#displayTable thead input").on('keyup change', function () {
            filesTable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    });
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%;
        }
    </style>
{% endblock %}