{% extends "layoutBase.html.j2" %}
{% block title %}View Codes{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div>
    <form method="post">
    <span>{{form.startDate.label}}</span>
    {{form.startDate(type="date")}}

    <span class="ml-3">{{form.endDate.label}}</span>
    {{form.endDate(type="date")}}
    
    <input class="ml-3 btn btn-sm btn-success" type="submit" value="View Codes"/>
    
    <label class="ml-3"><input type="checkbox" onchange="updateDisplayFilters()" id="showOutageCodesChkBx">Outage</label>
    <label class="ml-2"><input type="checkbox" onchange="updateDisplayFilters()" id="showApprovedCodesChkBx">Approved</label>
    <label class="ml-2"><input type="checkbox" onchange="updateDisplayFilters()" id="showRevivalCodesChkBx">Revival</label>
    <label class="ml-2"><input type="checkbox" onchange="updateDisplayFilters()" id="showElementCodesChkBx">Element</label>
    <label class="ml-2"><input type="checkbox" onchange="updateDisplayFilters()" id="showGenericCodesChkBx">Generic</label>
    </form>
</div>
{% if data and data['codes'] %}
{# <p>{{ data.codes|safe }}</p> #}
<table id="displayTable" class="display table table-bordered table-responsive w-auto">
    <thead>
        <tr>
            <th>Code Id</th>
            <th>Issued Time</th>
            <th>Code</th>
            <th>Other LDC Codes</th>
            <th>Issued To</th>
            <th>Description</th>
            <th>Execution Time</th>
            <th>Element Name</th>
            <th class="codeTypeHead">Code Type</th>
            <th>Element Type</th>
            <th>Outage Type</th>
            <th>Outage Tag</th>
            <th>Tags</th>
            <th>Issued By</th>
            <th>Actions</th>
        </tr>
    </thead>    
    <tbody>
        {% for item in data['codes'] %}
        <tr class="{{item.cssClass}}">
            <td>{{item.id}}</td>
            <td>{{item.codeIssueTime}}</td>
            <td>{{item.codeStr}}</td>
            <td>{{item.otherLdcCodes if item.otherLdcCodes}}</td>
            <td>{{item.codeIssuedTo}}</td>
            <td>{{item.codeDesc}}</td>
            <td>{{item.codeExecTime if item.codeExecTime}}</td>
            <td>{{item.pwcElName if item.pwcElName}}</td>
            <td>{{item.codeType}}</td>
            <td>{{item.pwcElType if item.pwcElType}}</td>
            <td>{{item.pwcOutageType if item.pwcOutageType}}</td>
            <td>{{item.pwcOutageTag if item.pwcOutageTag}}</td>
            <td>{{item.codeTags if item.codeTags}}</td>
            <td>{{item.codeIssuedBy}}</td>
            <td style="max-width:2em;">
                <a href="{{ url_for('codes.edit', codeId=item.id) }}">Edit</a>
                <span>|</span>
                <a href="{{ url_for('codes.detail', codeId=item.id) }}">Details</a>
                <span>|</span>
                <a href="{{ url_for('codes.delete', codeId=item.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Code Id</th>
            <th>Issued Time</th>
            <th>Code</th>
            <th>Other LDC Codes</th>
            <th>Issued To</th>
            <th>Description</th>
            <th>Execution Time</th>
            <th>Element Name</th>
            <th>Code Type</th>
            <th>Element Type</th>
            <th>Outage Type</th>
            <th>Outage Tag</th>
            <th>Tags</th>
            <th>Issued By</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
{% endif %}

{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/fixedHeader.dataTables.min.css') }}">
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>

<script type="application/javascript">
var editCodeBaseUrl_g = "{{ url_for('codes.edit', codeId='') }}";
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#displayTable tfoot th').each(function () {
        //var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search" />');
    });

    var filesTable = $('#displayTable').DataTable({
        fixedHeader: true,
        lengthMenu: [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
        pageLength: 50,
        dom: 'Bfrtip',
        order: [[1, "desc"]],
        columnDefs: [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }
        ],
        buttons: ['pageLength', 'copy', 'excel', 'pdf', 'csv', 'print']
    });

    var r = $('#displayTable tfoot tr');
    r.find('th').each(function () {
        $(this).css('padding', '3px');
    });
    $('#displayTable thead').append(r);
    // Apply the filter
    // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
    $("#displayTable thead input").on('keyup change', function () {
        filesTable
            .column($(this).parent().index() + ':visible')
            .search(this.value)
            .draw();
    });
    
    // setup double click to redirect to edit page
    $('#displayTable tbody').on('dblclick', 'tr', function () {
    // get the row data from table
    var data = filesTable.row(this).data();
    // Simulate a mouse click:
    window.location.href = editCodeBaseUrl_g + data[0];
    });
});

function updateDisplayFilters() {
    var searchList = [];
    if ($('#showGenericCodesChkBx').is(":checked")) {
        searchList.push("^Generic$");
    } 
    if ($('#showElementCodesChkBx').is(":checked")) {
        searchList.push("^Element$");
    } 
    if ($('#showOutageCodesChkBx').is(":checked")) {
        searchList.push("^Outage$");
    } 
    if ($('#showApprovedCodesChkBx').is(":checked")) {
        searchList.push("^ApprovedOutage$");
    } 
    if ($('#showRevivalCodesChkBx').is(":checked")) {
        searchList.push("^Revival$");
    } 
    $('#displayTable').DataTable()
        .columns('.codeTypeHead')
        .search(searchList.join("|"),true,false)
        .draw();
}
</script>
<style>
    thead input {
        padding: 2px;
        box-sizing: border-box;
        font-size: small;
        width: 100%;
    }
    tr.cancelledCode{
        text-decoration: line-through;
    }
    tr.notExecCode{
        background-color: #f5deb3;
    }
    tr.revivalCode{
        background-color: #acfbaf;
    }
</style>
{% endblock %}