{% extends "layoutBase.html.j2" %}
{% block title %}Create Element Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Create Element Code</h3>
<div>
<span>Select element type - </span><select id="elTypesSelect" onchange="onElTypeChange()"></select>
</div>
<table id="displayTable" class="display table table-bordered table-hover table-responsive">
</table>

<h3><span>Selected Element = </span><span id="selElemDisplaySpan">None</span></h3>

{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.code) }}
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
    {{ render_field(form.elementId, readonly="true") }}
    {{ render_field(form.elementTypeId, readonly="true") }}
    {{ render_field(form.elementName, readonly="true") }}
    {{ render_field(form.elementType, readonly="true") }}
  </dl> 
  <p><input type="submit" value="Create Element Code"/>
</form>
{% endblock %}
{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='datetime_picker/js/bootstrap-datetimepicker.min.js') }}"></script>
  <link href="{{ url_for('static', filename='datetime_picker/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet"/>
  <script src="{{ url_for('static', filename='app/loadElementTypes.js') }}"></script>
  <script src="{{ url_for('static', filename='app/loadElements.js') }}"></script>
  <script>
  selectedElemInfo_g = null;
  jQuery(document).ready(function($) {
      // populate element types
      loadElementTypes("{{ url_for('elements.getElementTypes') }}","elTypesSelect");

      if (window.jQuery().datetimepicker) {
          $('.datetimepicker').datetimepicker({
              // https://github.com/technovistalimited/bootstrap4-datetimepicker#user-content-installation
              // MomentJS Formats: https://momentjs.com/docs/#/displaying/format/
              format: 'YYYY-MM-DD HH:mm',
              // as Bootstrap 4 is not using Glyphicons anymore
              icons: {
                  time: 'fa fa-clock',
                  date: 'fa fa-calendar',
                  up: 'fa fa-chevron-up',
                  down: 'fa fa-chevron-down',
                  previous: 'fa fa-chevron-left',
                  next: 'fa fa-chevron-right',
                  today: 'fa fa-check',
                  clear: 'fa fa-trash',
                  close: 'fa fa-times'
              }
          });
      }
  });

  function onRowSelect(rowObjs){
    if(rowObjs.length > 0){
      selectedElemInfo_g = rowObjs[0];
      displaySelectedElemInfo();
      populateSelectedElemInForm();
    }
  }

  function populateSelectedElemInForm(){
    if(selectedElemInfo_g!=null){
      document.getElementById('elementName').value = selectedElemInfo_g["elementName"];
      document.getElementById('elementId').value = selectedElemInfo_g["elementId"];
      document.getElementById('elementType').value = selectedElemInfo_g["elementType"];
      document.getElementById('elementTypeId').value = selectedElemInfo_g["elementTypeId"];
    } else{
      document.getElementById('elementName').value = "";
      document.getElementById('elementId').value = "";
      document.getElementById('elementType').value = "";
      document.getElementById('elementTypeId').value = "";
    }
  }

  function resetElemInfo(){
    // populate element name and element id
    document.getElementById('elementName').value = "";
    document.getElementById('elementId').value = "";
    document.getElementById('elementType').value = "";
    document.getElementById('elementTypeId').value = "";
  }

  function displaySelectedElemInfo(){
    var displayElem = document.getElementById("selElemDisplaySpan");
    if(selectedElemInfo_g!=null){
      displayElem.innerText = selectedElemInfo_g["elementName"];
    } else{
      displayElem.innerText = "";
    }
  }

  function onElTypeChange(){
    // clear element info in form
    // populate element type info in form
    selectedElemInfo_g = null;
    populateSelectedElemInForm();
    displaySelectedElemInfo();
    var elsFetchBaseUrl = "{{ url_for('elements.getElementsByType', elType='') }}";
    loadElements(elsFetchBaseUrl, "elTypesSelect", "displayTable", onRowSelect);
  }
  </script>
{% endblock %}