{% extends "layoutBase.html.j2" %}
{% block title %}Create Revival Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Create Revival Code</h3>
<table id="displayTable" class="display table table-bordered table-hover table-responsive">
</table>

{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.code) }}
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
    <dt><input type="submit" value="Create Revival Code" class="btn btn-success"/></dt>
    {{ render_field(form.elementId, readonly="true", hidden="true") }}
    {{ render_field(form.elementTypeId, readonly="true", hidden="true") }}
    {{ render_field(form.elementName, readonly="true", hidden="true") }}
    {{ render_field(form.elementType, readonly="true", hidden="true") }}
    {{ render_field(form.rtoId, readonly="true", hidden="true") }}
  </dl> 
</form>
{% endblock %}
{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='app/loadLatestUnrevivedOutages.js') }}"></script>
  <script type="text/javascript">
    var outagesFetchFetchUrl_g = "{{ url_for('outages.getLatestUnrevivedOutages') }}";
  </script>
  <script src="{{ url_for('static', filename='app/createElementRevivalCodePage.js') }}"></script>
{% endblock %}