{% extends "layoutBase.html.j2" %}
{% block title %}Edit Revival Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Edit Revival Code</h3>
<h4>Element is <span id="elemNameDisplaySpan"></span></h4>

{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.rtoId, readonly="true", hidden="true") }}
    {{ render_field(form.code) }}
    {{ render_field(form.codeIssueTime, class="datetimepicker") }}
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
    {{ render_field(form.codeExecTime, class="datetimepicker") }}
    {{ render_field(form.codeIssuedBy) }}
    {{ render_field(form.isCodeCancelled) }}
    <dt><input type="submit" value="Update Revival Code" class="btn btn-primary"></dt>
  </dl>
</form>

<br/>

<p><a href="{{ url_for('codes.list') }}">< Back to Codes List</a></p>
{% endblock %}
{% block scripts %}
  <script type="application/javascript" src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='datetime_picker/js/bootstrap-datetimepicker.min.js') }}"></script>
  <link href="{{ url_for('static', filename='datetime_picker/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet"/>
  <script type="application/javascript">
    var code_g = {{data.code|safe}};
  </script>
  <script src="{{ url_for('static', filename='app/setupDatetimepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='app/editElementRevivalCodePage.js') }}"></script>
{% endblock %}