{% extends "layoutBase.html.j2" %}
{% block title %}Edit Element Outage Code{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h3>Edit Element Outage Code</h3>
<h4>Element is <span id="elemNameDisplaySpan"></span></h4>
{% from "_formhelpers.html.j2" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.code) }}
    {{ render_field(form.codeIssueTime, class="datetimepicker") }}
    {{ render_field(form.codeDescription) }}
    {{ render_field(form.otherLdcCodes) }}
    {{ render_field(form.codeIssuedTo) }}
    {{ render_field(form.codeTags) }}
    {{ render_field(form.codeExecTime, class="datetimepicker") }}
    {{ render_field(form.codeIssuedBy) }}
    {{ render_field(form.isCodeCancelled) }}
    <dt><label>Outage Type</label></dt>
    <dd>
      <select id="outageTypeSelEl" onchange="onOutageTypeChange()"></select>
    </dd>
    <dt><label>Outage Tag</label></dt>
    <dd>
      <select id="outageTagSelEl" onchange="onOutageTagChange()"></select>
    </dd>
    <dt><input type="submit" value="Edit Element Outage Code" class="btn btn-success"></dt>
    {{ render_field(form.outageTypeId, readonly="true", hidden="true") }}
    {{ render_field(form.outageTagId, readonly="true", hidden="true") }}
    {{ render_field(form.outageTag, readonly="true", hidden="true") }}
    {{ render_field(form.outageType, readonly="true", hidden="true") }}
  </dl>
</form>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='datetime_picker/js/bootstrap-datetimepicker.min.js') }}"></script>
  <link href="{{ url_for('static', filename='datetime_picker/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet"/>
  <script type="text/javascript">
    var oTypes_g = {{ data.oTypes|safe }};
    oTypes_g.unshift({ id: "", name: "", isGenerator: "" });
    var oTags_g = {{ data.oTags|safe }};
    oTags_g.unshift({ id: "", name: "", outageTypeId: "" });
    var code_g = {{data.code|safe}};
  </script>
  <script src="{{ url_for('static', filename='app/setupDatetimepicker.js') }}"></script>
  <script src="{{ url_for('static', filename='app/editElementOutageCodePage.js') }}"></script>
{% endblock %}