<!-- Nav Item - Dashboard -->
{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item text-uppercase">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('code.list') }}">
        <i class="fas fa-th-large"></i>
        <span>View Codes</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('genericCode.create') }}">
        <i class="fas fa-th-large"></i>
        <span>Create Generic Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('elementCode.create') }}">
        <i class="fas fa-th-large"></i>
        <span>Create Element Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('elementOutageCode.create') }}">
        <i class="fas fa-th-large"></i>
        <span>Create Element Outage Code</span>
    </a>
</li>
