<!-- Nav Item - Dashboard -->
{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item text-uppercase">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('codes.list') }}">
        <i class="fas fa-eye"></i>
        <span>View Codes</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('codeRequest.create') }}">
        <i class="fas fa-eye"></i>
        <span> Code Request</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('genericCode.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Generic Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('elementCode.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Element Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('elementOutageCode.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Outage Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('approvedOutageCode.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Approved Outage Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('elementRevivalCode.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Revival Code</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('realTimeOutage.create') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Real Time Outage</span>
    </a>
</li>
<li class="nav-item text-uppercase">
    <a class="nav-link" href="{{ url_for('codeTags.list') }}">
        <i class="fas fa-plus-circle"></i>
        <span>Code Tags</span>
    </a>
</li>
